<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>HealthTRAX</title>
    <%include partials/head.ejs%>
  </head>
  <body>
    <!-- add nav partial  -->
    <nav>
      <% include partials/nav.ejs %>
      <div class="links" id="myNav">
        <a href="/sessions/new" class="nav-links">Log In</a>
        <a href="/users/new" class="nav-links">Register</a>

        <!-- added icon for collapsing nav bar -->
        <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a> -->
      </div>
    </nav>

    <div class="index-container">
        <h1 id="index-title">Health<span id="index-span">TRAX</span></h1>
        <p class="front-paragraph">All your visits.</p>
        <p class="front-paragraph">All in one place.</p>
    </div>

    <!-- started adding javascript to collapse navigation bar -->
    <!-- <script type="text/javascript" src="/js/app.js"></script> -->
  </body>
</html>
