<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>HealthTRAX</title>
    <%include partials/head.ejs%>
  </head>
  <body>
    <!-- add nav partial  -->
    <nav>
      <% include partials/nav.ejs %>
    </nav>


    <ul>
      <li><a href="/sessions/new">Log In</a></li>
      <li><a href="/users/new">Register</a></li>
    </ul>

  </body>
</html>
