<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>HealthTRAX</title>
    <%include partials/head.ejs%>
  </head>
  <body>
    <!-- add nav partial  -->
    <nav>
      <% include partials/nav.ejs %>
      <div class="links">
        <a href="/sessions/new" class="nav-links">Log In</a>
        <a href="/users/new" class="nav-links">Register</a>
      </div>
    </nav>

    <div class="index-container">
        <h1 id="index-title">Health<span id="index-span">TRAX</span></h1>
        <p id="front-paragraph">Delivering a solution to organize your doctors' information in one place.</p>
    </div>

  </body>
</html>
