/* blue -- rgb(0, 117, 193)
dark grey -- #808080
light grey -- #d3d3d3 */
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  height: 100%;
}

/***** nav bar style ******/
nav {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
}

h1 {
  margin: 0;
  font-size: 32px;
  padding: 15px;
}

#trax {
  color: rgb(0, 117, 193);
}

#header-title {
  text-decoration: none;
  color: black;
}

.links {
  padding: 15px;
}

.nav-links {
  text-decoration: none;
  padding: 10px;
  margin: 15px;
  font-size: 16px;
  background: rgba(0, 117, 193, 0.8);
  text-align: center;
  color: white;
  border-radius: 5px;
}

.nav-links:hover {
  cursor: pointer;
  color: rgba(0, 117, 193, 0.8);
  background: #f9f6f6;
  border: 2px solid rgba(0, 117, 193, 0.8);
}

/* index page style  */
.index-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  background-image: url("../img/cover-image.jpg");
  background-size: cover;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}

.front-paragraph {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  margin: 0;
  color: black;
  text-align: right;
  padding-top: 0;
}

#index-title {
  font-size: 52px;
  padding-bottom: 0;
}

#index-span {
  color: rgb(0, 117, 193);
}

/* form styles  */
.registration {
  width: 50%;
  border-radius: 0 10px 10px 0;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}

fieldset {
  border: 1px solid #808080;
  padding: 20px;
  margin: 20px 0;
}

legend {
  padding: 0 10px;
  color: rgb(0, 117, 193);
  font-size: 22px;
}

label {
  color: rgb(0, 117, 193);
  display: block;
}

.input-style {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px
  box-sizing: border-box;
  border: 1px solid #808080;
  height: 25px;
  font-size: 16px;
}

.input-style:focus {
  outline: 0;
  border: 1px solid rgb(0, 117, 193);
}

.new {
  background: rgba(0, 117, 193, 0.8);
  box-shadow: 2px 2px #d3d3d3;
  font-family: Raleway;
  font-size: 16px;
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
}

.new:hover {
  cursor: pointer;
  color: rgba(0, 117, 193, 0.8);
  background: #f9f6f6;
  border: 2px solid rgba(0, 117, 193, 0.8);
}


.welcome {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#user-welcome {
  font-weight: normal;
}

.doc-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(0, 117, 193);
  background: #f9f6f6;
  border-top: 2px solid rgb(0, 117, 193);
  border-bottom: 2px solid rgb(0, 117, 193);
}

.doc-header {
  font-size: 32px;
  margin: 0;
  padding: 10px;
  font-weight: normal;
}

i {
  margin-right: 5px;
}

textarea {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px
  box-sizing: border-box;
  border: 1px solid #808080;
  font-size: 16px;
}

textarea:focus {
  outline: 0;
  border: 1px solid rgb(0, 117, 193);
}


/* user index doctors  */
.all-doctors {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.doctor {
  width: 30%;
  border: 1px solid rgb(0, 117, 193);
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 100%;
}

.doc-content1 {
  background: black;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 33%;
  box-sizing: border-box;
  border-bottom: 1px solid #d3d3d3;
  border-left: 10px solid rgb(0, 117, 193);
}

.doc-content2 {
  height: 33%;
  box-sizing: border-box;
}

.doc-info {
  font-weight: normal;
  margin: 5px;
  font-size: 24px;
}

.more-details-doc {
  text-align: right;
  padding: 5px;
  margin-bottom: 10px;
  height: 33%;
  box-sizing: border-box;
}

#details {
  font-family: Raleway;
  font-size: 14px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
  text-decoration: none;
  color: rgb(0, 117, 193);
}

#details:hover {
  border: 1px solid black;
  background: rgba(0,117,193, 0.8);
  color: white;
}


#delete-btn {
  text-decoration: none;
  padding: 10px;
  margin: 15px;
  font-size: 16px;
  background: rgba(0, 117, 193, 0.8);
  text-align: center;
  color: white;
  border-radius: 5px;
  height: 40px;
  box-shadow: none;
  font-family: Raleway;
  width: auto;
}

#delete-btn:hover {
  cursor: pointer;
  color: rgba(0, 117, 193, 0.8);
  background: #f9f6f6;
  border: 2px solid rgba(0, 117, 193, 0.8);
}

.doctor-show {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

.doctor-table {
  width: 50%;
}

th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border: 3px solid black;
}

td {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.td-title {
  font-weight: normal;
  font-size: 20px;
  font-weight: bold;
  background: #d3d3d3;
  color: black;
  border: 1px solid black;
  border-left: 10px solid rgb(0, 117, 193);
}



/* mobile style */
@media only screen and (max-width: 600px){

  .doctor {
    width: 100%;
    border: 1px solid rgb(0, 117, 193);
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 100%;
  }

  #delete {
    height: 58px;
  }

  #delete-btn {
    height: 58px;
  }

  .links {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 15px;
  }

  .nav-links {
    margin: 5px;
  }

  h1 {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .registration {
    width: 100%;
  }


  .doctor-table {
    width: 100%;
  }

  table, tbody, th, td, tr {
    display: block;
  }

}

@media only screen and (max-width: 768px) and (min-width: 600px) {

  .doctor {
    width: 44%;
    border: 1px solid rgb(0, 117, 193);
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 100%;
  }

  .doc-info {
    font-size: 20px;
  }

  .registration {
    width: 100%;
  }

  table, tbody, th, td, tr {
    display: block;
  }

  .doctor-table {
    width: 100%;
  }


}

@media only screen and (max-width: 1050px) and (min-width: 768px) {

  .doctor {
    width: 44%;
    border: 1px solid rgb(0, 117, 193);
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 100%;
  }

  .doc-info {
    font-size: 24px;
  }

}




/* added styles for bootstrap */
.navbar-nav {
  align-items: left;
}

.nav-link {
  /* border: 1px solid rgb(0, 117, 193);
  border-radius: 5px; */
  margin: 0 5px;
  padding: 5px;
}

.form-control {
  /* border: 1px solid rgb(0, 117, 193);
  border-radius: 5px; */
  margin: 0 5px;
  font-family: Raleway;
  color: rgba(0,0,0,.5);
}

.form-control:hover {
  color: black;
}


#trax:hover {
  color: rgba(0, 117, 193, 0.5);
}

#header-title:hover {
  text-decoration: none;
  color: rgba(0,0,0, 0.5);
}
