<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%include ../partials/head.ejs%>
    <title>HealthTRAX - Log In</title>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>

    <div class="form-container">
      <div class="registration">
        <form action="/sessions" method="POST">
          <fieldset class="account-info">
            <legend>User Log In</legend>
            <label for="username">USERNAME</label>
            <input type="text" name="username" class="input-style"/>
            <label for="password">PASSWORD</label>
            <input type="password" name="password" class="input-style"/>

            <input type="submit" value="Log In" class="new">
          </fieldset>
        </form>
      </div>
    </div>

  </body>
</html>
