<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <%=currentUser.username%>
    <form action="/sessions/user/<%=currentUser._id%>/newdoctor" method="POST">
      <input type="text" name="name" placeholder="name"/>
      <input type="text" name="address" placeholder="address"/>
      <input type="text" name="phone" placeholder="phone"/>
      <input type="date" name="last_visit" placeholder="last_visit"/>
      <input type="date" name="next_visit" placeholder="next_visit"/>
      <textarea name="note">notes</textarea>
      <input type="submit" value="Add New Doctor">
    </form>

  </body>
</html>
