<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%include ../partials/head.ejs%>
    <title></title>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>

    <div class="form-container">

      <div class="registration">
        <form action="/users" method="POST">

          <fieldset class="account-info">
            <legend>REGISTER NEW USER</legend>

            <label for="username">USERNAME</label>
            <input type="text" name="username"/>

            <label for="password">PASSWORD</label>
            <input type="password" name="password"/>

            <input type="submit" value="Create New User">

          </fieldset>

        </form>
      </div>

    </div>

  </body>
</html>
