<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- style page -->
    <link rel="stylesheet" href="/css/four-oh-four.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Gaegu" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>OOPS! 404 Error!</h1>
      <h2>Sorry, the page you are looking for can't be found.</h2>
      <h4>Don't worry, you can make it back to the sunshine!</h4>
      <a href="/"><i class="far fa-arrow-alt-circle-left"></i> Take me back to HealthTRAX homepage.</a>
    </div>
  </body>
</html>
